html, body {
    font-size: 11pt;
    font-family: "Open Sans", "Arial";
}

#app {
    background-color: #F8FAFF;
    min-height: 100%;
}

.box {
    display: inline-block;
    position: relative;
}

.small.box {
    padding: 5px 7px;
}

.small.margin {
    margin-bottom: 5px;
}

.medium.margin {
    margin-bottom: 10px;
}

.input.box label, .DataLabel {
    display: inline-block;
    font-weight: bold;
    color: #333;
    width: 25%;
    text-align: left;
    padding-right: 5px;
    vertical-align: top;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui.grid.DataRow {
    padding-top: 0.5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #bdc3c7;
}

.DataRow {
    background-color: white;
}

.DataRow--large {

}

.DataContainer {
    max-width: 680px !important;
    margin: 0 auto;
    padding: 15px;
    /* 
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: 5px;
    */
}

/* Todo align right on input */

.input.box input, .DataInput {
    padding: 3px 5px;
    width: 100%;
}

.DataValue {
    min-width: 63%;
    display: inline-block;
}


.full.width {
    width: 100%;
}

.full.width.input input {
    
}

.DataValue--dictionary .key {
    display: inline-block;
    width: 30%;
    font-weight: bold;
}

.DataValue--dictionary .value {
    width: 65%;
    display: inline-block;
}

p {
    color: black;
}

.Navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    z-index: 10;
}

.ui.menu.Navbar--primary {
    height: 50px;
    background-color: white;
    border-bottom: 1px solid black;
    border-radius: 0;
    width: 100%; 
    margin: 0px !important;
}

.Navbar--toolbar.ui.menu {
    height: 30px;
    background-color: white;
    width: 100%;
    margin: 0px !important;
    font-size: 14px;
}

.HeaderOffset {
    padding-top: 150px;
}

.BodyWrapper {
    height: 100%;
}

.DashHeader {
    padding-top: 0px;
    background-color: white;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 10;
}

.DashHeader h1 {
    margin-left: 20px;
    margin-bottom: 10px;
}

.DocumentHeader {
    margin-top: 0px;
}

.DataOptions {
    padding: 5px !important;
}

.DataOptions i {
    top: 0px;
    left: 0px;
    right: ipx;
}


.DashForm input {
    border: 1px solid #e2ecf4;
    padding: 4px;
    max-height: 30.5px;
    max-width: 100%;
    margin: 4px 0;
}

.DataLabel input {
    border-color: transparent;
    background: transparent;
    font-weight: bold;
}

.DataLabel input:hover, .DataLabel input:active, .DataLabel input:focus {
    border-color: #e2ecf4;
} 

.SubObject {
    padding: 10px 30px !important;
    font-size: 0.88em;
}

.border-bottom {
    border-bottom: 1px solid #bdc3c7;
}

.selectable {
    /* background-color: yellow; */
}

.selecting {
    background-color: #D3E6F7;
}
.selected {
    background-color: #D3E6F7;
}

.selection {
    position: absolute;
    border: 1px dotted #000;
    z-index: 9999;
    top: 0;
    left: 0;
    cursor: default;
    display: none;
}

.DataRow.CellType--cellgroup {
    background-color: red;
    margin-top: 100px !important;
}

.DataType--boolean .DataValue {
    font-style: italic;
}

.DataType--bignum .DataValue {
    text-align: right;
}

.DataRow--large .DataLabel, .DataRow--large .DataValue  {
    width: 100%;
}

.DataRow--large .DataLabel, .DataGroup .DataLabel {
    margin-bottom: 0.25rem;
}

.DataRow--large .DataValue textarea {
    min-height: 150px;
}

.DashForm .list-group-item {
    padding: 0.5rem 1rem;
}

.DataLabel {
    margin-bottom: 0;
}

.DataRow .close, .DataGroup .close {
    position: absolute;
    right: 20px;
    z-index: 100;
}